---
import "../styles/global.css";

interface Props {
  title: string;
  subtitle: string;
  blueSky: {
    text: string;
    href: string;
  };
  linkedIn: {
    text: string;
    href: string;
  };
  github: {
    text: string;
    href: string;
  };
}

const { title, subtitle, blueSky, linkedIn, github } = Astro.props;
---

<div class="header-wrapper">
  <picture>
    <source type="image/avif" srcset="./images/headshot.avif" />
    <source type="image/webp" srcset="./images/headshot.webp" />
    <img
      src="./images/headshot.jpg"
      width="80"
      height="80"
      alt="chelsea avery's headshot"
      class="profile-img"
    />
  </picture>
  <div class="title-subtitle-wrapper">
    <h1>{title}</h1>
    <h2>{subtitle}</h2>
  </div>
  <div class="social-links">
    <ul>
      <li><a href={github.href} target="_blank">{github.text}</a></li>
      <li><a href={blueSky.href} target="_blank">{blueSky.text}</a></li>
      <li><a href={linkedIn.href} target="_blank">{linkedIn.text}</a></li>
    </ul>
  </div>
</div>

<style>
  .header-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    column-gap: 1rem;
    align-items: center;
  }

  picture {
    grid-row: span 3;
  }

  .profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
  }
  .title-subtitle-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
  }

  h2 {
    font-size: 1.25rem;
    font-weight: normal;
    margin: 0;
  }

  .social-links ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
    list-style: none;
  }
  .social-links a {
    text-decoration: underline;
    color: #42406a;
    font-weight: 500;
  }

  .social-links a:hover {
    text-decoration: underline;
    color: #0da64f;
  }

  ul li {
    padding: 0 1rem 0 0;
  }

  @media (max-width: 480px) {
    /* Styles for screens smaller than 480px wide */
    social-links ul {
      max-width: 80vw;
    }

    ul li {
      padding: 0 0.5rem 0 0;
    }
  }
</style>
